---
layout: default
---

{% include section.html
    header="Software Projects"
    description="" %}

<div>
    <ul class="list">

        
        {% include poster.html
            image="/assets/images/ugv.jpg"
            title="Self-driving software for Semi-Autonomous Unmanned Ground Vehicle"
            description="<p><b>Desc:</b> In this project I was a principal software developer responsible for designing and implementing self-driving module for an Unmanned Ground Vehicle (UGV). Robot would navigate over GPS over predetermined routes, where obstacle avoidance module would be responsible for detecting unexpected obstacles like pedestrians, parked vehicles and similar (robot would use walking paths).</p><p><b>Tech:</b> Primary sensor was front facing monocular RGB camera (aka webcam). Images from camera were processed by two independent neural networks:<br/> • <b>YOLO</b> for object detection and localisation - pedestrians, parked vehicles etc. Network was trained on both pre-existing dataset as well as mix-in of our own training data.<br/> • <b>SegNet</b> for detecting if ground in front of vehicle is derivable (pavement, tarmac). Network was pre-trained on CityScapes with few added images.</p>"
            %}
        
        {% include poster.html
            image="/assets/images/tool.jpg"
            title="Test Title"
            description="This is a test descriptoin which is quite longe becouse we need to test how it all works with a lot of text here"
            %}

        {% include poster.html
            image="/assets/images/mining.jpg"
            title="Test Title"
            description="This is a test descriptoin which is quite longe becouse we need to test how it all works with a lot of text here"
            %}
        

    </ul>
</div>


{% include section.html
    header="Drone Projects"
    description="" %}

<div>
    <ul class="list">

        
        {% include poster.html
            image="/assets/images/spray.jpg"
            title="Test Title"
            description="This is a test descriptoin which is quite longe becouse we need to test how it all works with a lot of text here"
            %}
        
        {% include poster.html
            image="/assets/images/lidar.jpg"
            title="Test Title"
            description="This is a test descriptoin which is quite longe becouse we need to test how it all works with a lot of text here"
            %}
        

    </ul>
</div>

<div>
    <ul class="grid">

        {% include card.html
            image="/assets/images/drones.jpg"
            title="Swarming Drone"
            description=" • Lead the effort to design and build hardware base for swarming drone for forestry search and rescue missions. </br> • Integrated dual flight control system based on Robot Operating System (ROS) <br/> • Includes RTK GPS positioning"
            %}

        {% include card.html
            image="/assets/images/kinect.jpg"
            title="4G Sentry Drone"
            description=" • Designed and built prototype drone for remote location monitoring. Drone operated via 4G network (no pilot on site) <br/> • Integrated proof-of-concept collision avoidance system and demonstrated feasibility for fully autonomous operation"
            %}

        {% include card.html
            image="/assets/images/cs400.jpg"
            title="Autonomous Underwater Vehicle"
            description=" • Lead the team of engineers to deliver multiple successful customer facing trials. <br/> • Responsible for multiple software and hardware systems integration on an experimental autonomous deep-water vehicle."
            %}

    </ul>
</div>