---
layout: default
---

{% include section.html
    header="Software Projects"
    description="" %}

<div>
    <ul class="list">

        
        {% include poster.html
            image="/assets/images/pixelwhite.jpg"
            title="Test Title"
            description="This is a test descriptoin which is quite longe becouse we need to test how it all works with a lot of text here"
            %}
        

        
        {% include poster.html
            image="/assets/images/pixelwhite.jpg"
            title="Test Title"
            description="This is a test descriptoin which is quite longe becouse we need to test how it all works with a lot of text here"
            %}
        

    </ul>
</div>


{% include section.html
    header="Drone Projects"
    description="" %}

<div>
    <ul class="list">

        
        {% include poster.html
            image="/assets/images/pixelwhite.jpg"
            title="Test Title"
            description="This is a test descriptoin which is quite longe becouse we need to test how it all works with a lot of text here"
            %}
        
        {% include poster.html
            image="/assets/images/pixelwhite.jpg"
            title="Test Title"
            description="This is a test descriptoin which is quite longe becouse we need to test how it all works with a lot of text here"
            %}
        

    </ul>
</div>