---
layout: default
---

{% include section.html
    header="Software Projects"
    description="" %}

<div>
    <ul class="list">

        {% include poster.html
            image="/assets/images/portfolio/turbine.png"
            title="Automated wind turbine fault detection"
            description="<p><b>Description:</b><br/> This project is a proof-of-concept neural architecture for automated fault detection on high resolution images of wind turbine blades. I provided know-how via ongoing consulting as well as developed actual software for data pre-processing and model training and testing. The customer provided images and preliminary labels in a raw format. Large part of the project was to browse, clean, select and label data provided so it can be feed into machine learning component.</p><p><b>Technology:</b><br/> Due to unique technical challenges encountered, two non-standard components were developed: <br/>&nbsp;&nbsp;&nbsp; 1) a completely custom pre-processing pipeline to deal characteristics of input data <br/>&nbsp;&nbsp;&nbsp; 2) far-going optimisation of neural network subsystem to allow for fast training time.</p>"
            %}
        
        {% include poster.html
            image="/assets/images/ugv.jpg"
            title="Self-driving software for Semi-Autonomous Unmanned Ground Vehicle"
            description="<p><b>Desc:</b> In this project I was a principal software developer responsible for designing and implementing self-driving module for an Unmanned Ground Vehicle (UGV). Robot would navigate over GPS over predetermined routes, where obstacle avoidance module would be responsible for detecting unexpected obstacles like pedestrians, parked vehicles and similar (robot would use walking paths).</p><p><b>Tech:</b> Primary sensor was front facing monocular RGB camera (aka webcam). Images from camera were processed by two independent neural networks: 1) <b>YOLO</b> for object detection and localisation - pedestrians, parked vehicles etc. Network was trained on both pre-existing dataset as well as mix-in of our own training data. 2) <b>SegNet</b> for detecting if ground in front of vehicle is derivable (pavement, tarmac). Network was pre-trained on CityScapes with few added images.</p>"
            %}
        
        {% include poster.html
            image="/assets/images/tool.jpg"
            title="Tool wear assessment for CNC router"
            description='<p><b>Desc:</b> <a href="https://en.wikipedia.org/wiki/CNC_router">CNC Router</a> is a machine which uses rotational tool bit (drill) to remove material from solid block to manufacture a target part. Tool bits wear down and technicians often forget to check and replace them. This system automatically takes picture of tool bit before job is started and feeds it into convolutional neural network to classify current wear of the tool bit.</p><p><b>Tech:</b> Image classification is performed with DenseNet-201 which showed best performance out of tried architectures. CNN was pre-trained on ImageNet and trained any further. Classifier was trained on target dataset with heavy data augmentation and regularisation applied. After training network was able to detect cracked, chirped or overheated (changed color) tool bits.</p><p>System is operating in a machine shop at the aerospace manufacturing facility.</p>'
            %}

        {% include poster.html
            image="/assets/images/mining.jpg"
            title="Interactive simulation for mining robot swarm"
            description="<p><b>Desc:</b> The purpose of this project was to assess in detail performance of the swarm of 200+ mining and support robots. Swarm would start in containers, then deploy solar panels, build surface base, excavate tunnels, process raw materials and finally wind up operation. The complexity of the project was similar to simple strategy video game.</p><p><b>Tech:</b> Simulation is physics-based, build in Unity3D game engine along with set of plugins for dynamic volumetric terrain (so robots can freely excavate). Individual robot AI manages energy, navigation, task queues etc. Swarm AI manages task allocation, robot coordination, excavation orders and similar.</p><p>At any point user can override high-level strategy or take over full control over individual robot.</p>"
            %}
        

    </ul>
</div>


{% include section.html
    header="Drone Projects"
    description="" %}

<div>
    <ul class="list">

        
        {% include poster.html
            image="/assets/images/spray.jpg"
            title="Drone for spraying protective coating on building walls"
            description="<p>I lead engineering effort to design both software and hardware and to build and test this wall-spraying drone. Drone is equipped with advanced control system to make it possible to operate at very close proximity to the building, while still giving pilot ability to operate with confidence and precision. To the best of my knowledge at the time of writing (early 2019) this is the only system of its kind in existence. </p><p>This project had substantial research component - literature review did not return feasible answers. Work required systematic experimentation and deep understanding. In the end we solved all the engineering problems and we did it in a way that is practical, cheap and easy to use.</p><p>The drone is operating commercially</p>"
            %}
        
        {% include poster.html
            image="/assets/images/lidar.jpg"
            title="Industrial Drone for 3D laser scanning"
            description='<p>I was lead software and hardware on this project. Drone purpose is to make highly detailed 3D scans of industrial sites. Subject to operating conditions drone was able to achieve 5-10cm precision on raw pointcloud. This is better than industry standard at the time (2018).</p><p>Drone is equipped with RTK GPS for positioning, high-end IMU and Lidar. Onboard computer is used for data recording. Custom software for 3D pointcloud synthesis was written from scratch.</p><p>The drone was deployed to scan jetty structure at <a href="https://en.wikipedia.org/wiki/Hinkley_Point_C_nuclear_power_station">Hinkley Point C</a> nuclear power station building site, which was the largest build site in the UK at the itme.</p>'
            %}
        

    </ul>
</div>

<div>
    <ul class="grid">

        {% include card.html
            image="/assets/images/drones.jpg"
            title="Swarming Drone"
            description=" • Lead the effort to design and build hardware base for swarming drone for forestry search and rescue missions. </br> • Integrated dual flight control system based on Robot Operating System (ROS) <br/> • Includes RTK GPS positioning"
            %}

        {% include card.html
            image="/assets/images/kinect.jpg"
            title="4G Sentry Drone"
            description=" • Designed and built prototype drone for remote location monitoring. Drone operated via 4G network (no pilot on site) <br/> • Integrated proof-of-concept collision avoidance system and demonstrated feasibility for fully autonomous operation"
            %}

        {% include card.html
            image="/assets/images/cs400.jpg"
            title="Autonomous Underwater Vehicle"
            description=" • Lead the team of engineers to deliver multiple successful customer facing trials. <br/> • Responsible for multiple software and hardware systems integration on an experimental autonomous deep-water vehicle."
            %}

    </ul>
</div>