---
layout: default
---

{% include section.html
    header="NumPy Implementations"
    description="Quick implementation of basic neural network building blocks in pure <em>NumPy</em>" %}

<div class="boxes">
    <ul class="grid">

        {% include card.html
            image="/assets/images/1layer.jpg"
            title="One layer classification."
            description="Single-Layer Perceptron used to solve college admission problem."
            link_text="numpy"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/NumpyNN/0010_FC_1Layer.html"
            %}

        {% include card.html
            image="/assets/images/2layer_reg.jpg"
            title="2-Layer MLP Regression"
            description="Feedforward Multi-Layer Perceptron used to solve bike-rental problem."
            link_text="numpy"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/Udacity_DL_Nanodegree/011%20Bike%20Project/Bike+Project.html"
            %}


        {% include card.html
            image="/assets/images/2layer_class.jpg"
            title="2-Layer MLP Classification"
            description="Feedforward Multi-Layer Perceptron used to solve Fashion-MNIST."
            link_text="numpy"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/NumpyNN/0020_FC_2LayerClass.html"
            %}

        {% include card.html
            image="/assets/images/rnn_counter.jpg"
            title="RNN Counter (unfolded)"
            description="Recurent Neural Network used to count occurances of letter 'a' in a short string. This RNN is implemented both unfloded and recurrently."
            link_text="numpy"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/NumpyNN/1010_Char_RNN_Unfolded.html"
            %}

        {% include card.html
            image="/assets/images/rnn_dino.jpg"
            title="RNN Dino name generator"
            description="Character-level Recurent Neural Network used to generate novel dinosaur names."
            link_text="numpy"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/NumpyNN/1020_Char_RNN_Dinosaurs.html"
            %}


    </ul>
</div>



{% include section.html
    header="Intro to Neural Networks"
    description="Simple implementations of basic neural networks in both <em>Keras</em> and <em>PyTorch</em>" %}

<div class="boxes">
    <ul class="grid">

        {% include card.html
            image="/assets/images/college.jpg"
            title="College Admissions"
            description="2-Layer fully connected neural network used to solve college admissions problem. Dataset is tabular. Task is to predict if student is admited or not based no theirs GPC & GPA scores"
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/0100_MLP_College.html"
            link_2_text="PyTorch"
            link_2_href="https://marcinbogdanski.github.io/ai-sketchpad/PyTorchNN/0100_PT_MLP_College.html"
            %}

        {% include card.html
            image="/assets/images/mnist.jpg"
            title="MNIST"
            description="2-Layer fully connected neural network used to solve popular MNIST dataset. MNIST is set of 60k images. Each one is 28x28 grayscale"
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/0120_MLP_MNIST.html"
            link_2_text="PyTorch"
            link_2_href="https://marcinbogdanski.github.io/ai-sketchpad/PyTorchNN/0120_PT_MLP_MNIST.html"
            %}

        {% include card.html
            image="/assets/images/imdb.jpg"
            title="IMDB Movie Reviews"
            description="Small fully connected neural network used to predict if movie review is positive or negative. Uses bag-of-words approach."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/0150_MLP_IMBD.html"
            %}

    </ul>
</div>




{% include section.html
    header="Computer Vision"
    description="Various computer vision architectures" %}

<div class="boxes">
    <ul class="grid">

        {% include card.html
            image="/assets/images/cifar10.jpg"
            title="ConvNet and CIFAR-10"
            description="Small convolutional neural network used for image classification on the CIFAR-10 dataset. Images are RGB 32x32 pixels."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/1100_CNN_CIFAR10.html"
            %}

        {% include card.html
            image="/assets/images/cifar10.jpg"
            title="Batch Normalization"
            description="Small convnet with batch normalization used on CIFAR-10 dataset."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/1200_CNN_BN_CIFAR10.html"
            %}

        {% include card.html
            image="/assets/images/cifar10.jpg"
            title="Data Augumentation"
            description="Small convnet with data augumentation to reduce overfitting on CIFAR-10 dataset."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/1250_Aug_CIFAR10.html"
            %}

        {% include card.html
            image="/assets/images/oxford.jpg"
            title="ResNet-50 from Scratch"
            description="Small convnet with batch normalization used on CIFAR-10 dataset."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/1200_CNN_BN_CIFAR10.html"
            %}

        {% include card.html
            image="/assets/images/oxford.jpg"
            title="ResNet-50 Transfer Learning"
            description="Small convnet with data augumentation to reduce overfitting on CIFAR-10 dataset."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/1250_Aug_CIFAR10.html"
            %}

    </ul>
</div>


        <!--
        {% include card.html
            image=""
            title=""
            description=""
            link_text="numpy"
            link_href=""
            %}
        -->
