---
layout: default
---


{% include section.html
    header="Intro to Neural Networks"
    description="Simple implementations of basic neural networks in both <em>Keras</em> and <em>PyTorch</em>" %}

<div>
    <ul class="grid">

        {% include card.html
            image="/assets/images/college.jpg"
            title="College Admissions"
            description="2-Layer fully connected neural network used to solve college admissions problem. Task is to predict if student is admited or not based no theirs GPC & GPA scores"
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/0100_MLP_College.html"
            link_2_text="PyTorch"
            link_2_href="https://marcinbogdanski.github.io/ai-sketchpad/PyTorchNN/0100_PT_MLP_College.html"
            %}

        {% include card.html
            image="/assets/images/mnist.jpg"
            title="MNIST"
            description="2-Layer fully connected neural network used to solve popular MNIST dataset. MNIST is set of 60k images. Each one is 28x28 grayscale"
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/0120_MLP_MNIST.html"
            link_2_text="PyTorch"
            link_2_href="https://marcinbogdanski.github.io/ai-sketchpad/PyTorchNN/0120_PT_MLP_MNIST.html"
            %}

        {% include card.html
            image="/assets/images/imdb.jpg"
            title="IMDB Movie Reviews"
            description="Small fully connected neural network used to predict if movie review is positive or negative. Uses bag-of-words approach."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/0150_MLP_IMBD.html"
            %}

    </ul>
</div>



{% include section.html
    header="NumPy Implementations"
    description="Quick implementation of basic neural network building blocks in pure <em>NumPy</em>" %}

<div>
    <ul class="grid">

        {% include card.html
            image="/assets/images/1layer.jpg"
            title="One layer classification."
            description="Single-Layer Perceptron used to solve college admission problem."
            link_text="NumPy"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/NumpyNN/0010_FC_1Layer.html"
            %}

        {% include card.html
            image="/assets/images/2layer.jpg"
            title="2-Layer MLP Regression"
            description="Feedforward Multi-Layer Perceptron used to solve bike-rental problem."
            link_text="NumPy"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/Udacity_DL_Nanodegree/011%20Bike%20Project/Bike+Project.html"
            %}


        {% include card.html
            image="/assets/images/2layer.jpg"
            title="2-Layer MLP Classification"
            description="Feedforward Multi-Layer Perceptron used to solve Fashion-MNIST."
            link_text="NumPy"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/NumpyNN/0020_FC_2LayerClass.html"
            %}

        {% include card.html
            image="/assets/images/rnn.jpg"
            title="RNN Counter (unfolded)"
            description="Recurent Neural Network used to count occurances of letter 'a' in a short string. This RNN is implemented both unfloded and recurrently."
            link_text="NumPy"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/NumpyNN/1010_Char_RNN_Unfolded.html"
            %}

        {% include card.html
            image="/assets/images/rnn.jpg"
            title="RNN Dino name generator"
            description="Character-level Recurent Neural Network used to generate novel dinosaur names."
            link_text="NumPy"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/NumpyNN/1020_Char_RNN_Dinosaurs.html"
            %}


    </ul>
</div>



{% include section.html
    header="Computer Vision"
    description="Various computer vision architectures" %}

<div>
    <ul class="grid">

        {% include card.html
            image="/assets/images/cnn.jpg"
            title="ConvNet and CIFAR-10"
            description="Small convolutional neural network used for image classification on the CIFAR-10 dataset. Images are RGB 32x32 pixels."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/1100_CNN_CIFAR10.html"
            %}

        {% include card.html
            image="/assets/images/batchnorm.jpg"
            title="Batch Normalization"
            description="Small convnet with batch normalization used on CIFAR-10 dataset."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/1200_CNN_BN_CIFAR10.html"
            %}

        {% include card.html
            image="/assets/images/dataaug.jpg"
            title="Data Augumentation"
            description="Small convnet with data augumentation to reduce overfitting on CIFAR-10 dataset."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/1250_Aug_CIFAR10.html"
            %}



        {% include card.html
            image="/assets/images/resblock.jpg"
            title="ResNet-50 from Scratch"
            description="ResNet-50 implemented from scratch using Keras functional API. Then trained from scratch on Oxford VGG Flowers 17 dataset."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/1300_ResNet50_Scratch.html"
            %}

        {% include card.html
            image="/assets/images/resblock.jpg"
            title="ResNet-50 Transfer Learning"
            description="ResNet-50 from Keras library pre-trained on ImageNet is further trained on Oxford VGG Flowers 17 dataset."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/1400_ResNet50_Transfer.html"
            %}



        {% include card.html
            image="/assets/images/densenet.jpg"
            title="DenseNet-201 Transfer Learning"
            description="DenseNet-201 trained on Oxford VGG Flowers 102 dataset."
            link_text="PyTorch"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/PyTorchNN/1450_DenseNet121_Transfer.html"
            %}

        {% include card.html
            image="/assets/images/densenet.jpg"
            title="DenseNet-201 Bottleneck Features"
            description="DenseNet-201 trained on Oxford VGG Flowers 102 dataset. This time bottleneck features are pre-computed and only classifier is trianed."
            link_text="PyTorch"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/PyTorchNN/1450_DenseNet121_Transfer_2.html"
            %}

        {% include card.html
            image="/assets/images/segnet.jpg"
            title="Segnet and VOC2007"
            description="Segnet on VGG16 backbone trained on Pascal VOC2007 dataset."
            link_text="PyTorch"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/PyTorchNN/1630_SegNet_VOC2007.html"
            %}

    </ul>
</div>


{% include section.html
    header="Natural Language Processing"
    description="Various recurrent architectures for NLP" %}

<div>
    <ul class="grid">

        {% include card.html
            image="/assets/images/rnn_m2m.jpg"
            title="RNN - Time Series Prediction"
            description="Vanilla RNN trained to perform time series prediction on sine wave."
            link_text="PyTorch"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/PyTorchNN/2120_PT_Float_RNN_M2M_TimeSeries.html"
            %}

        {% include card.html
            image="/assets/images/rnn_m2m.jpg"
            title="Char-LSTM - Shakespeare"
            description="LSTM trained to generate new text trained on Shakespeare plays."
            link_text="PyTorch"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/PyTorchNN/2140_PT_Char_LSTM_M2M_Shakespeare.html"
            %}

        {% include card.html
            image="/assets/images/rnn_m2m.jpg"
            title="LSTM - Language Translation"
            description="Many-to-many LSTM trained to perform English to French translation."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/2210_Many2Many_EngFr.html"
            %}

        {% include card.html
            image="/assets/images/rnn_s2s.jpg"
            title="Seq-2-Seq - Language Translation"
            description="Sequence-to-sequence LSTM trained to perform English to French translation."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/KerasNN/2310_Seq2Seq_EngFr.html"
            %}

    </ul>
</div>



{% include section.html
    header="Generative Adversarial Networks"
    description="Implementaitons of simple GAN architectures" %}

<div>
    <ul class="grid">

        {% include card.html
            image="/assets/images/autoencoder.jpg"
            title="Autoencoder"
            description="Simple autoencoder trained on MNIST dataset."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/Keras/3010_AE_MNIST.html"
            %}

        {% include card.html
            image="/assets/images/gan.jpg"
            title="GAN"
            description="Fully connected Generative Adversarial Network trained on MNIST dataset."
            link_text="Keras"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/Keras/3110_GAN_FC_MNIST.html"
            %}

        {% include card.html
            image="/assets/images/dcgan.jpg"
            title="DCGAN"
            description="Deep Convolutional GAN trained on CelebA dataset."
            link_text="PyTorch"
            link_href="https://marcinbogdanski.github.io/ai-sketchpad/PyTorchNN/3210_DCGAN.html"
            %}

    </ul>
</div>


