---
layout: default
---




{% include section.html
    header="Deep Q-Networks"
    description="Implementation of DQN and application to Classic Control and Atari Games" %}


<div>
    <ul class="grid">

        {% include card.html
            image="/assets/images/dqn/lunarlander.gif"
            title="DQN Classic Control"
            description='Use DQN to solve OpenAI Classic Control environments: MountainCar, Pendulum, CartPole, Acrobot and LunarLander'
            link_text='DQN Classic Control'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/Deep_Q_Network/1010_DQN_ClassicControl.html'
            %}

        {% include card.html
            image="/assets/images/dqn/spaceinvaders.gif"
            title="Playing Atari with Deep RL"
            description='Reproduction of pivotal "Playing Atari with Deep Reinforcement Learning" paper by DeepMind published in 2013.<br/><b>Code not cleaned up.</b>'
            link_text='DQN Atari 2013'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/Deep_Q_Network/2010_DQN_Atari2013.html'
            %}

    </ul>
</div>


{% include section.html
    header="Reinforcement Learning: An Introduction (2nd ed)"
    description="Implementation of algorithms from <b>Sutton and Barto</b> book <em>Reinforcement Learning: An Introduction (2nd ed)</em>" %}


{% include section.html
    header=""
    description="<b>Chapter 2: Multi-armed Bandits</b>" %}

<div>
    <ul class="grid">


        {% include card.html
            image="/assets/images/rlintro/simple_bandit.jpg"
            title="2.4 Simple Bandit"
            description='Implementation of Simple Bandit Algorithm along with reimplementation of figures 2.1 and 2.2 from the book'
            link_text="Simple Bandit"
            link_href="https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0204_Simple_Bandit.html"
            %}

        {% include card.html
            image="/assets/images/rlintro/tracking_bandit.jpg"
            title="2.6 Tracking Bandit"
            description='Implementation of Tracking Bandit Algorithm and recreation of figure 2.3 from the book'
            link_text="Tracking Bandit"
            link_href="https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0206_Tracking_Bandit.html"
            %}

    </ul>
</div>

{% include section.html
    header=""
    description="<b>Chapter 4: Dynamic Programming</b>" %}

<div>
    <ul class="grid">

        {% include card.html
            image="/assets/images/rlintro/dynprog.jpg"
            title="4.1 Iterative Policy Evaluation"
            description='Implementation of Iterative policy Evaluation algorithm and demonstration on <em>FrozenLake-v0</em> environment'
            link_text="Iterative Policy Evaluation"
            link_href="https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0401_Iterative_Policy_Evaluation.html"
            %}

        {% include card.html
            image="/assets/images/rlintro/dynprog.jpg"
            title="4.3 Policy Iteration"
            description='Implementation of Policy Iteration algorithm and demonstration on <em>FrozenLake-v0</em> environment'
            link_text="Policy Iteration"
            link_href="https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0403_Policy_Iteration.html"
            %}

        {% include card.html
            image="/assets/images/rlintro/dynprog.jpg"
            title="4.4 Value Iteration"
            description='Implementation of Value Iteration algorithm and demonstration on <em>FrozenLake-v0</em> environment'
            link_text="Value Iteration"
            link_href="https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0404_Value_Iteration.html"
            %}

    </ul>
</div>

{% include section.html
    header=""
    description="<b>Chapter 5: Monte Carlo Methods</b>" %}

<div>
    <ul class="grid">


        {% include card.html
            image="/assets/images/rlintro/fig_0501.jpg"
            title="5.1 First-Visit MC Prediction"
            description='Implementation of First-Visit MC Prediction algorithm, recreation of figure 5.1 and demonstration on <em>Blackjack-v0</em> environment'
            link_text='First Visit MC Prediction'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0501_First_Visit_MC_Prediction.html'
            %}

        {% include card.html
            image="/assets/images/rlintro/monte_carlo_es.jpg"
            title="5.3 Monte Carlo ES Control"
            description='Implementation of Monte Carlo ES Control algorithm, recreation of figure 5.2 and demonstration on <em>Blackjack-v0</em> environment'
            link_text='Monte Carlo ES Control'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0503_Monte_Carlo_ES_Control.html'
            %}

        {% include card.html
            image="/assets/images/rlintro/blackjack.jpg"
            title="5.4 On-Policy First-Visit MC Control"
            description='Implementation of On-Policy First-Visit MC Control algorithm and demonstration on <em>Blackjack-v0</em> environment'
            link_text='On-Policy First-Visit MC Control'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0504_On_Policy_First_Visit_MC_Control.html'
            %}

    </ul>
</div>

{% include section.html
    header=""
    description="<b>Chapter 6: Temporal-Difference Learning</b>" %}

<div>
    <ul class="grid">

        {% include card.html
            image="/assets/images/rlintro/tdprediction.jpg"
            title="6.1 TD Prediction"
            description='Implementation of TD Prediction algorithm, recreation of figure from example 6.2 and demonstration on <em>Blackjack-v0</em> environment'
            link_text='TD Prediction'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0601_TD_Prediction.html'
            %}

        {% include card.html
            image="/assets/images/rlintro/windygridworld2.jpg"
            title="6.4 SARSA"
            description='Implementation of SARSA algorithm, recreation of figure from example 6.5 and demonstration on <em>Windy Gridworld</em> environment'
            link_text='SARSA'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0604_Sarsa.html'
            %}

        {% include card.html
            image="/assets/images/rlintro/cliffwalking.jpg"
            title="6.5 Q-Learning"
            description='Implementation of Q-Learning algorithm and demonstration on <em>Cliff Walking</em> environment'
            link_text='Q-Learning'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0605_Q_Learning.html'
            %}

    </ul>
</div>


{% include section.html
    header=""
    description="<b>Chapter 9: On-Policy Prediction with Approximation</b>" %}

<div>
    <ul class="grid">

        {% include card.html
            image="/assets/images/rlintro/fig_0901.jpg"
            title="9.3a Gradient Monte Carlo"
            description='Implementation of Gradient MC algorithm, recreation of figure 9.1 and example 9.1 and demonstration on <em>Corridor</em> environment'
            link_text='Gradient Monte Carlo'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0903a_Gradient_MC.html'
            %}

        {% include card.html
            image="/assets/images/rlintro/fig_0902.jpg"
            title="9.3b Semi-Gradient TD"
            description='Implementation of Semi-Gradient TD algorithm, recreation of figure 9.2 and example 9.2 and demonstration on <em>Corridor</em> environment'
            link_text='Semi-Gradient TD'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0903b_Semi_Gradient_TD.html'
            %}

        {% include card.html
            image="/assets/images/rlintro/fig_0905.jpg"
            title="9.5a Linear Models - Poly. and Fourier"
            description='Implementation of Linear Models with Polynomial and Fourier bases, recreation of figure 9.5 and demonstration on <em>Corridor</em> environment'
            link_text='Polynomial and Fourier Bases'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0905a_LM_Poly_Fourier.html'
            %}

        {% include card.html
            image="/assets/images/rlintro/fig_0910.jpg"
            title="9.5b Tile Coding"
            description='Implementation of Linear Model with Tile Coding, recreation of figure 9.10 and demonstration on <em>Corridor</em> environment'
            link_text='Tile Coding'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0905b_LM_Agg_Tile.html'
            %}

        {% include card.html
            image="/assets/images/rlintro/ann.jpg"
            title="Bonus: Basic ANN"
            description='Implementation of Gradient MC with Artificial Neural Network function approximation and demonstration on <em>Corridor</em> environment'
            link_text='Gradient MC ANN'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/0907_ANN.html'
            %}

    </ul>
</div>



{% include section.html
    header=""
    description="<b>Chapter 10: On-Policy Control with Approximation</b>" %}

<div>
    <ul class="grid">

        {% include card.html
            image="/assets/images/rlintro/mountaincar.jpg"
            title="10.1 Episodic Semi-Gradient SARSA"
            description='Implementation of Episodic Semi-Gradient SARSA algorithm, recreation of figures 10.1 and 10.2 and demonstration on <em>MountainCar-v0</em> environment'
            link_text='Episodic Semi-Gradient SARSA'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/RL_An_Introduction_2018/1001_Episodic_Semi_Gradient_Sarsa.html'
            %}

    </ul>
</div>



{% include section.html
    header="UCL Course on RL (2016) by David Silver"
    description="A more in-depth treatment of selected concepts from David Sivler video lectures and Sutton and Barto book. This is advanced material." %}

<div>
    <ul class="grid">

        {% include card.html
            image="/assets/images/dslect/03_dynprog.jpg"
            title="Lecture 3 - Dynamic Programming"
            description='Dynamic Programming - Iterative Policy Evaluation, Policy Iteration, Value Iteration'
            link_text='Dynamic Programming'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/UCL_Course_on_RL/Lecture03_DP/DynamicProgramming.html'
            %}

        {% include card.html
            image="/assets/images/dslect/04a_mc_td.jpg"
            title="Lecture 4a - MC and TD Prediction"
            description='Monte Carlo and Temporal Difference Prediction'
            link_text='MC and TD Prediction'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/UCL_Course_on_RL/Lecture04_Pred/ModelFreePrediction_Part1.html'
            %}

        {% include card.html
            image="/assets/images/dslect/04b_fwd_back.jpg"
            title="Lecture 4b - N-Step and TD(λ) Prediction"
            description='Forward View TD(λ) and Backward View TD(λ) with Eligibility Traces'
            link_text='N-Step and TD(λ) Prediction'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/UCL_Course_on_RL/Lecture04_Pred/ModelFreePrediction_Part2.html'
            %}

        {% include card.html
            image="/assets/images/dslect/05_title.jpg"
            title="Lecture 5a - On-Policy Control"
            description='On-Policy Control algorithms: MC Control, SARSA, N-Step SARSA, Forward View SARSA(λ), Backward View SARSA(λ) with Eligibility Traces'
            link_text='On-Policy Control'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/UCL_Course_on_RL/Lecture05_Ctrl/ModelFreeControl_Part1.html'
            %}

        {% include card.html
            image="/assets/images/dslect/05b_exp_based.jpg"
            title="Lecture 5b - Off-Policy - Exp. Based"
            description='Off-Policy Control algorithms (Expectation Based): Q-Learning, Expected SARSA, Tree Backup Algorithm'
            link_text='Off-Policy Control - Expectation Based'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/UCL_Course_on_RL/Lecture05_Ctrl/ModelFreeControl_Part2.html'
            %}

        {% include card.html
            image="/assets/images/dslect/05c_imp_samp.jpg"
            title="Lecture 5c - Off-Policy - Imp. Sampl."
            description='Off-Policy Control algorithms (Importance Sampling) - Imp.Sampl. SARSA, N-Step Imp.Sampl. SARSA, Off-Policy MC Control'
            link_text='Off-Policy Ctrl. - Importance Sampling'
            link_href='https://marcinbogdanski.github.io/rl-sketchpad/UCL_Course_on_RL/Lecture05_Ctrl/ModelFreeControl_Part3.html'
            %}
    </ul>
</div>


